{% extends 'base.html.twig' %}

{% block body %}
<section class="register-section">
    <div class="register-image">
        <img src=" {{ asset('images/register-image.jpg') }}" alt="Green leaves background">
    </div>
    <div class="register-form">
        <h2>Inscription</h2>
        <p>Tous les champs sont obligatoires.</p>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_row(registrationForm.apiEnabled) }}
        <button type="submit" class="register-button">Register</button>
    {{ form_end(registrationForm) }}
        <p>Déjà un compte ? <a href="{{ path('app_customer_login') }}">Se connecter</a></p>
{% endblock %}
